body{
    background-color: rgb(14, 241, 166);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
}


h1{
    color:black ;
    text-align:center;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    text-decoration: underline;
}

h2{
    color:black;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-decoration:underline;
}


/*body table{
    width:50%;
    max-height: fit-content;
    text-align: center;
    color: black;
}*/

table{
    table-layout: initial;
    border-collapse: collapse;
    margin:auto;
    background-color: rgb(11, 205, 240);
}
s

.table-list{
    width:100%;
    padding: 5px;
    height: 20px;
    border-collapse: collapse;
    background-color:whites;

}

td, th {
    border: 1px solid black;
    border: double;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even),table.list thead > tr {
    background-color: rgb(250, 240, 249);
}


input[type="text"],
input[type="Email"],
input[type="website"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
input[type="Clear"]{
    width:100px;
    color: white;
    background-color: rgb(2, 168, 38);
    padding: 14px 20px;
    margin:5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*.clear{
    width:50px;
    color: white;
    padding: 14px 20px;
    margin:5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(209, 18, 18);
}

.submit{
    width:100px;
    color: white;
    background-color: rgb(3, 20, 119);
    padding: 14px 20px;
    margin:5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/